.DS_Store
*.o
*.a
*.so
other
displayControl/build/**
displayControl/bin/**
displayControl/ogl-rgb-led-matrix/images/**
displayClient/displayClient.xcodeproj/project.xcworkspace/**
displayClient/displayClient.xcodeproj/xcuserdata/**
